*{
    padding: 0;
    margin: 0;
}

 
body{
   
    background-color: rgb(165, 78, 165);
    
    
} 


nav{
    
    width: 100%;
    height:100px ;
    display: flex;
    justify-content: space-between;
}

nav img{
    width: 100px;
    height: 100px;
    
}

.nav-links{
    width: 400px;
    height: 80px;
    display: flex;
    justify-content:space-evenly;
    margin-top: 35px;
    
}

.nav-links a{
    border: 2px solid antiquewhite;
    width: 65px;
    height: 20px;
    padding:0.3rem 0.4rem;
    text-decoration: none;
    border-radius: 10px;
    color:antiquewhite;
    background-color: rgb(165, 127, 127);
    box-shadow: 8px 8px 7px black;
    transition: 1s;

}

.nav-links a:hover{
    transform: scale(1.2);
}

.body-box{
    margin-top: 10px;
    width: 100%;
    height: 500px;
   
    display: flex;
    justify-content: space-between;
}
.body-box img{
    width: 600px;
    height: 490px;
}
.body-box1{
    width: 500px;
    height: 490px;
   
   
   
}

.body-box1 img{
    width: 400px;
    height: 250px;
}

.body-box1-content{
    margin-left: 60px;
    margin-top: 80px;
}

.body-box1-content h1{
    color: rgb(134, 223, 17);
    
}

.body-box1-content h4{
    color:rgb(32, 49, 80);
}

.body-box1-content h2{
        border: 2px solid black;
        width: 120px;
        height: 30px;
        padding: 0.2rem 0.3rem;
        border-radius: 10px;
        color: antiquewhite;
        background-color: cadetblue;
        box-shadow: 8px 8px 7px black;
        transition: 1s;
}

.body-box1-content h2:hover{
    transform: scale(1.2);

}

.coffee h1{
  margin-left: 600px;
  color: whitesmoke;
  width: 140px;
  height: 40px;
  border:2px solid gray;
  padding-left: 30px;
  border-radius: 10px;
  background-color: rgb(93, 182, 152);
  margin-top: 60px;
  box-shadow: 8px 8px 7px black;
 transition: 1s;
  
   
}

.coffee h1:hover{
    transform: scale(1.2);
}


.coffee-main{
    
    width: 100%;
    height: 550px;
    margin-top: 30px;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: space-around;
   flex-wrap: wrap;
   
  
}

.coffee-small-outer{
    width: 400px;
    height: 250px;
    /* background-color: cadetblue; */
    display: flex;
    justify-content: center;
}


.coffee-small-box{
    width: 250px;
    height: 200px;
   border-radius: 20px;
    background-color:rgba(58, 48, 48, 0.4);
    margin-top: 30px;
    position: relative;
    box-shadow: 10px 10px 3px black;
   transition: 0.3s;
    
}

.coffee-small-box:hover{
    transform: scale(1.2);
}

.coffee-small-box img{
    /* width: 100%;
    height: 100%; */
    object-fit: cover;
    display:block;
}


.coffee-small-outer img{
    width: 100px;
    height: 100px;
   position: absolute;
    margin-right: 20px;
    margin-top: -70px;
}

.coffee-small-box-content{
    width: 250px;
    height: 200px;
    position: absolute;
   padding-top: 100px;
   padding-left: 50px;
   font-style: italic;
   color: white;
   
   
}

.coffee-small-box-content h4{
    padding-left: 30px;
}

.coffee-small-box-content h2{
    padding-left: 20px;
}


.about-coffee h1{
    border: 2px solid rgb(53, 44, 44);
    width: 200px;
    height: 50px;
    margin-left: 100px;
    padding:10px;
    border-radius: 20px;
    background-color: cadetblue;
    color: antiquewhite;
    box-shadow: 10px 10px 5px black;

}
.coffee-bean-main{

    width: 100%;
    height: 500px;
    /* background-color: rgb(64, 64, 150); */
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}


.coffee-bean-content{
    width: 1000px;
    height:200px;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    margin-top: 100px;
    padding-right: 60px;
    text-align: justify;
    color:rgba(255, 255, 255, 0.692);
    font-style: oblique;
    font-size: 20px;
    transition: 1s;
}
.coffee-bean-content:hover{
    transform: scale(1.1);
}
#cold-coffee-h1{
    width: 200px;
    height: 50px;
    border: 2px solid rgb(73, 165, 127);
    padding-left: 20px;
    margin-top: 50px;
    margin-bottom: 40px;
    margin-left: 500px;
    border-radius: 20px;
    background-color: rgb(153, 96, 43);
    color: antiquewhite;
    box-shadow: 10px 10px 3px  black;
    transition: 1s;
}
#cold-coffee-h1:hover{
    transform: scale(1.2);

}
.cold-coffee-main{
    width: 100%;
    height: 300px;
    /* background-color: brown; */
    display:flex;
    justify-content: space-evenly;
}

.cold-coffee-inner{
    width: 170px;
    height: 200px;
    background-color: rgb(73, 13, 37);
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 30px;
    box-shadow: 10px 10px 4px black;
    transition: 1s;
}

.cold-coffee-inner:hover{
    transform: scale(1.2);
}

.cold-coffee-inner-pic{
    width: 160px;
    height: 150px;
    background-color:rgba(139, 50, 105, 0.637);
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    align-items: center;
   
}

 .cold-coffee-inner-pic img{
    display: block;
    width: 140px;
    height: 140px;
    object-fit: contain;
    margin-bottom: 90px;
    

}

.cold-coffee-inner h2{
    margin-left: 30px;
    color: antiquewhite;
}


.bean-h1 h1{
    width: 150px;
    height: 50px;
    border: 2px solid rgb(19, 87, 78);
    text-align: center;
    border-radius: 10px;
    background-color: rgb(44, 121, 95);
    color: aliceblue;
    margin-left: 500px;
    margin-top: 60px;
    margin-bottom: 40px;
    box-shadow: 10px 10px 5px black;
    
    
    
}
.bean-main{
    width:100%;
    height: 240px;
    /* background-color: rgb(32, 11, 223); */
    display: flex;
    justify-content: space-evenly;
}

.bean-inner{
    width: 200px;
    height: 180px;
    /* background-color: rgb(127, 136, 255); */
    margin-top: 30px;
    position: relative;
    display: flex;
    justify-content: center;
   
}


.bean-inner-pic{
    width: 180px;
    height: 150px;
   /* margin-left: 10px; */
    position: absolute;
    background-color: rgb(136, 27, 103);
    color: aliceblue;
    border-radius: 10px;
   box-shadow: 8px 8px 5px black;
   transition: 1s ;
   

}

.bean-inner-pic:hover{
    
    transform: scale(1.2);
}



.bean-inner-pic img{
    width: 100px;
    height: 100px;
    margin-top: -30px;
    position: absolute;
    padding-left: 30px;
}

.bean-inner-pic p{
    margin-top: 80px;
    padding-left: 30px;
    font-size: larger;
    
    
}

.bean-inner-pic h5{
    padding-left:50px ;
    font-size: medium;
}

footer{
    width: 100%;
    height: 200px;
    background-color: rgb(10, 10, 10,0.3);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.footer-box{
    width: 200px;
    height: 150px;
    /* background-color: rgb(84, 221, 178); */
    border-radius: 10px;
    text-align: center;
    color: aliceblue;
    
    
    
}

.footer-box h2{
    margin-top: 30px;
}

.footer-box p{
    font-size: larger;
}

.footer-box img{
    width: 40px;
    height: 40px;
    border-radius: 10px;
}

@media screen and (max-width : 600px){

    /* body{
        background-color: tomato;
    } */

    nav{
        flex-direction: column;
        width: auto;
        height: auto;
        padding-left: 100px;
    }

    .body-box{
        flex-direction: column;
        width: 570px;
        height: auto;
        padding-left: 100px;
    }
    #body-box-cup{
        padding-right: 50px;
    }
    

   
        .coffee h1 {
          margin-left: 50px;
          width: 200px;
          height: 100px;
          padding-left: 100px;
          margin-left: 200px;
          font-size: 50px;
          margin-top: 90px;
          margin-bottom: 60px;
        }
      
      

    .coffee-main{
        flex-direction: column;
        width: auto;
        height: auto;
        padding-left: 100px;

    }

    .about-coffee{
        flex-direction: column;
        width: 200px;
        height: 200px;
        margin-top: 100px;
    }

    .coffee-bean-main{
        flex-direction: column;
        width:auto;
        height: auto;
    }

    .coffee-bean-content{
        flex-direction: column;
        width: 400px;
        height: auto;
        padding-left: 40px;
        margin-left: 170px;
        font-size: 30px;
    }
    
    #cold-coffee-h1{
        flex-direction: column;
        width: 250px;
        height: auto;
        margin-top: 100px;
        margin-bottom: 100px;
        padding-left: 50px;
        margin-left: 200px;
        

    }

    .cold-coffee-main{
        
    }

}